[package]
name = "quadit"
version = "0.1.3"
description = "A gitops tool to deploy systemd managed containers on linux using quadlets"
authors = ["Anton Whalley <antonwhalley@yahoo.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/ubiquitous-factory/quadit"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
anyhow = "1.0.79"
clap = { version = "4.4.18", features = [
    "derive",
    "std",
    "help",
], default-features = false }
env_logger = "0.11.1"
quaditsync = "1.0.1"
log = "0.4.20"
serde = { version = "1.0.196", features = ["derive"] }
serde_yaml = "0.9.30"
tokio-cron-scheduler = "0.10.0"
uuid = "1.7.0"
tokio = { version = "1.35.1", features = ["macros", "rt-multi-thread"] }
dotenvy = "0.15.7"
dirs = "5.0.1"
chrono = "0.4.33"
colored = "2.1.0"


[[bin]]
path = "src/main.rs"
name = "quadit"

[profile.release]
lto = true

[features]
default = ["cli"]
cli = []
