[package]
name = "quadit"
version = "0.1.5"
description = "A gitops tool to deploy systemd managed containers on linux using quadlets"
authors = ["Anton Whalley <antonwhalley@yahoo.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/ubiquitous-factory/quadit"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
anyhow = "1.0.93"
quaditsync = "1.0.1"
serde = { version = "1.0.213", features = ["derive"] }
serde_yaml = "0.9.34"
tokio-cron-scheduler = "0.13.0"
uuid = "1.11.0"
tokio = { version = "1.41.1", features = ["macros", "rt-multi-thread"] }
dotenvy = "0.15.7"
chrono = "0.4.38"
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = [
    "registry",
    "env-filter",
] }
url = "2.5.2"
reqwest = "0.12.9"
dirs = "5.0.1"


[[bin]]
path = "src/main.rs"
name = "quadit"

[profile.release]
lto = true

[dev-dependencies]
claims = "0.7.1"
time = "0.3.36"
timer = "0.2.0"
