[package]
name = "quadit"
version = "0.1.4"
description = "A gitops tool to deploy systemd managed containers on linux using quadlets"
authors = ["Anton Whalley <antonwhalley@yahoo.com>"]
license = "MIT OR Apache-2.0"
repository = "https://github.com/ubiquitous-factory/quadit"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
anyhow = "1.0.79"
quaditsync = "1.0.1"
serde = { version = "1.0.196", features = ["derive"] }
serde_yaml = "0.9.31"
tokio-cron-scheduler = "0.10.0"
uuid = "1.8.0"
tokio = { version = "1.36.0", features = ["macros", "rt-multi-thread"] }
dotenvy = "0.15.7"
chrono = "0.4.34"
tracing = { version = "0.1.40", features = ["log"] }
tracing-subscriber = { version = "0.3.18", features = [
    "registry",
    "env-filter",
] }
url = "2.5.0"
reqwest = "0.11.24"
dirs = "5.0.1"


[[bin]]
path = "src/main.rs"
name = "quadit"

[profile.release]
lto = true

[dev-dependencies]
claims = "0.7.1"
time = "0.3.34"
timer = "0.2.0"
