[Unit]
Description=The hello container
After=local-fs.target

[Container]
Image=registry.access.redhat.com/ubi9-minimal:latest
Exec=while [ true ]; do echo "hello"; sleep 5; done

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target