[Unit]
Description=quadit container management tool
After=local-fs.target

[Container]
Environment=PODMAN_SYSTEMD_UNIT=%n
AutoUpdate=registry
ContainerName=quadit
Environment=XDG_RUNTIME_DIR=/run/user/%U HOME=%h
Image=ghcr.io/ubiquitous-factory/quadit:main
SecurityLabelDisable=true
Volume=quadit-volume:/opt
Volume=%h/.quadit:/opt/config
Volume=%h/.config/containers/systemd:/opt/containers
Volume=/run/user/%U/podman/podman.sock:/run/podman/podman.sock
# Need to validate if --cgroups no-conmon --cidfile "%t/%n.ctr-id" options are provided by Container
PodmanArgs=--init-path /usr/sbin/init --pid host --privileged
Mount=type=tmpfs,destination=/run/user/%U,rw=true
Mount=type=bind,source=/sys/fs/cgroup,destination=/sys/fs/cgroup,ro=true
Mount=type=bind,source=/run/user/%U/systemd,destination=/run/user/%U/systemd,rw=true
UserNS=keep-id
Environment=JOB_PATH=/tmp
[Service]
Restart=always
TimeoutStopSec=120
ExecStartPre=/usr/bin/mkdir -p %h/.quadit
ExecStartPre=/usr/bin/mkdir -p %h/.config/containers/systemd
# Need to validate if these options are managed by Container
# ExecStartPre=/bin/rm -f %t/%n.ctr-id
# ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
# ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
